.nav {
  color: var(--color-dark);

  &__list {
    @include flex-center() {
      column-gap: 8px;
    }
    padding-left: 0;
  }

  &__item {
    border-radius: var(--border-radius-header);
    transition: 0.2s;

    @include hover {
      background-color: var(--color-primary-10);
      color: var(--color-primary);
    }

    &.active {
      background-color: var(--color-primary-10);
      color: var(--color-primary);
      pointer-events: none;
    }
  }

  &__link {
    display: inline-block;
    padding: 12px 20px;
    border-radius: var(--border-radius-header);
  }
}