@mixin link {
  color: inherit;
  text-decoration: none;
}

@mixin link-hover {
  &:hover {
    text-decoration: none;
  }
}

@mixin button {
  padding: 0;
  border: none;
  background: transparent;
}