@mixin montserrat(
  $font-size,
  $line-height: 0,
  $letter-spacing: 0,
  $color: inherit,
  $font-weight: 600,
  $text-transform: uppercase,
  $text-align: center
) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $font-weight;
  text-transform: $text-transform;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
  color: $color;
}

@mixin allura(
  $font-size,
  $line-height,
  $letter-spacing,
  $color: inherit,
  $text-align: center
) {
  font-family: 'Allura', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
  color: $color;
}