$colors: (
  primary: #FF4646,
  primary-10: #FF46461A,
  dark: #181C29,
  white: #FFFFFF,
  white-40: #FFFFFF66,
  white-20: #FFFFFF33,
  tag-purple: #4361FF,
  tag-pink: #FF43F7,
  tag-green: #06A44F,
  card-bg: #ECF3F8,
  overlay: #181C29CC,
);